#infoBar {
    grid-area: infoBar;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
    .buttonGroup {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        
        &.left {
            /*background-color: #521338;*/
            justify-content: left;
        }
        
        &.center {
            /*background-color: #e95420;*/
            justify-content: center;
        }
        
        &.right {
            /*background-color: #130610;*/
            justify-content: right;
        }
    }
}
