#desktop {
    height: 100%;
    width: 100%;
}

#fullscreenPreview {
    /*Initial values*/
    --app-preview-z-index: -10;
    --app-preview-top: 0px;
    --app-preview-left: 0px;
    --app-preview-width: 0px;
    --app-preview-height: 0px;
    
    --preview-spacing: 10px;
    
    display: none;
    position: absolute;
    
    z-index: var(--app-preview-z-index);
    
    &.active, &.inactive {
        display: block;
        border-radius: 10px;
        background-color: #FFF2;
        backdrop-filter: blur(13px);
        outline: #FFF3 2px solid;
    }
    
    &.active {
        animation: enterFullscreenPreview 230ms ease forwards;
    }
    
    &.inactive {
        animation: exitFullscreenPreview 230ms ease forwards;
    }
}

@keyframes enterFullscreenPreview {
    from {
        top: var(--app-preview-top);
        left: var(--app-preview-left);
        width: var(--app-preview-width);
        height: var(--app-preview-height);
    }
    to {
        left: calc(var(--app-bar-width) + var(--preview-spacing));
        top: calc(var(--info-bar-height) + var(--preview-spacing));
        height: calc(100% - var(--info-bar-height) - 2 * var(--preview-spacing));
        width: calc(100% - var(--app-bar-width) - 2 * var(--preview-spacing));
    }
}

@keyframes exitFullscreenPreview {
    from {
        left: calc(var(--app-bar-width) + var(--preview-spacing));
        top: calc(var(--info-bar-height) + var(--preview-spacing));
        height: calc(100% - var(--info-bar-height) - 2 * var(--preview-spacing));
        width: calc(100% - var(--app-bar-width) - 2 * var(--preview-spacing));
    }
    to {
        top: var(--app-preview-top);
        left: var(--app-preview-left);
        width: var(--app-preview-width);
        height: var(--app-preview-height);
    }
}

#desktopSelect {
    position: absolute;
    border-radius: 1px;
    background-color: #FFF2;
    outline: #FFF7 2px solid;
}