.app {
    border-radius: 10px;
    position: absolute;
    outline: #130610 1px solid;
    overflow: hidden;
    
    animation-name: exit_fullscreen;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: 150ms;
}

.fullscreenApp {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: #130610 1px solid;
    
    transition: top, left, width, height, ease-in 150ms;
    
    .appMenuBar {
        border-radius: 0;
    }
}

.appMenuBar {
    height: 35px;
    width: 100%;
    
    display: flex;
    
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border-bottom: 2px #1a1a1a solid;
    
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.appContent {
    height: calc(100% - 35px);
    width: 100%;
}

/**___________RESIZABLE_______________**/
.resizers {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    pointer-events: none;
}

.resizer {
    position: absolute;
    pointer-events: auto;
}

.resizer.round {
    width: 15px;
    height: 15px; /*magic to turn square into circle*/
    /*background: white;*/
    border-radius: 100%;
}

.resizer.top,
.resizer.bottom {
    width: calc(100% - 24px);
    height: 6px;
    margin: 0 12px;
}

.resizer.left,
.resizer.right {
    width: 6px;
    height: calc(100% - 24px);
    margin: 12px 0;
}

.resizer.left {
    top: 0;
    left: -3px;
}

.resizer.top {
    top: -3px;
    left: 0;
}

.resizer.bottom {
    bottom: -3px;
    right: 0;
}

.resizer.right {
    bottom: 0;
    right: -3px;
}

.resizer.bottom,
.resizer.top {
    cursor: ns-resize;
}

.resizer.left,
.resizer.right {
    cursor: ew-resize;
}

.resizer.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resizer.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resizer.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resizer.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}


.WindowCloseIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #333;
    
    aspect-ratio: 1/1;
    max-height: 50%;
    
    cursor: auto;
    
    transition: all ease 50ms;
    
    &:hover {
        background-color: #e95420;
    }
    
    > svg {
        height: 80%;
        aspect-ratio: 1/1;
    }
}

.appBarIcons {
    display: flex;
    align-items: center;
    height: 35px;
    
    position: absolute;
    top: 0;
    right: 0;
    
    > div {
        margin-right: 10px;
    }
}

.applicationTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;
}
